<div class="relative py-16 bg-white overflow-hidden">

  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">Introducing</span>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">We’re Looking for a Senior Data Analyst to Join Whimsical</span>
      </h1>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <p><a href="https://whimsical.com/">Whimsical</a> is an end-to-end SaaS platform for shaping ideas.  Our software enables thousands of customers—from individuals to Fortune 500—to think and collaborate in the new era of distributed work.</p>

      <p>We’re now looking for a Senior Data Analyst to take part in our efforts to build tools that make online work better.</p>
      
      <h2 id="about-the-role">About the Role</h2>
      <p>As a Senior Data Analyst, you will help us understand the world of Whimsical. Data is at the core of all major decisions at Whimsical, and therefore you will be at the epicenter of the company, taking part in many different projects. You’ll mostly work with our Product, Growth, and Go-To-Market teams, but sometimes also with Finance, Customer Experience, and HR.</p>
      <p>You will be reporting to our Lead Data Analyst, <a href="https://www.linkedin.com/in/paulmkoch/">Paul Koch</a>. Your responsibilities include: </p>
      <ul>
      <li>Analyze and explain complex business problems and issues using data from internal and external sources to provide insight to decision-makers.</li>
      <li>Identify and understand trends in our big datasets.</li>
      <li>Construct forecasts, recommendations, strategies, and tactical plans based on our data and market knowledge.</li>
      <li>Create ad-hoc reports and key dashboards when needed by the business.</li>
      <li>Explore our data, tell stories, and educate us on all the things we are missing.</li>
      <li>Work together with Product Managers, leadership, and other stakeholders in the organization on per-project based data explorations and tasks.</li>
      </ul>
      <h2 id="your-first-quarter-at-whimsical">Your First Quarter at Whimsical</h2>
      <p>At the end of your first quarter at Whimsical you will:</p>
      <ul>
      <li>Feel at home, getting to know the awesome people here and learning how we work</li>
      <li>Also feel comfortable with our vast data sets and sources</li>
      <li>Understand the core flows of our product and what data they produce</li>
      <li>Understand our business model and the core commercial numbers</li>
      <li>Participate in your first few projects where the data you have delivered is at its core</li>
      <li>Have taught Niklas (our VP of Product) some SQL.</li>
      </ul>
      <h2 id="about-you">About You</h2>
      <p>We’re looking for someone with a proven track record as a data analyst in rapidly growing SaaS companies. You:</p>
      <ul>
      <li>Have worked as a data analyst for 5+ years.</li>
      <li>Have applied statistical techniques and used analytical programming languages in a professional context.</li>
      <li>Can cite examples of how your analysis has influenced business outcomes.</li>
      <li>Communicate your findings so that non-data people can understand the value of what the data shows us.</li>
      <li>Understand how to work with data in the context of a product organization.</li>
      <li>Enjoy with the fast-paced, ambiguous environment of a start-up.</li>
      </ul>
      <h2 id="what-we-offer">What We Offer</h2>
      <ul>
      <li><strong>100% Remote</strong>: Our team is spread across North America, Europe and Oceania, and we’ve got you covered if you prefer to work from a coworking space. </li>
      <li><strong>Salary</strong>: Annual salary starting at <strong>$147,705</strong></li>
      <li><strong>Equity</strong>: starting at 0.2% </li>
      <li><strong>Vacation: </strong>6 weeks of paid time off each year</li>
      <li><strong>Parental Leave</strong>: 4 weeks paid by company</li>
      <li><strong>Equipment: </strong>We provide all the tech you need to work successfully</li>
      <li><strong>Summits: </strong>We try to bring everyone together at least twice a year when possible </li>
      <li><strong>Pension*: </strong>401k with 6% company matching </li>
      <li><strong>Health Insurance*</strong>: Paid by company for you and dependents</li>
      </ul>
      <p>You can read more about how we <a href="https://whimsical.com/blog/guide-to-compensation">think about compensation on our blog</a>.</p>
      <p><em>* Availability may depend on your location and our current administrative capabilities there</em></p>

    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Who you will meet in the interview process</h2>
        <p class="text-xl text-gray-500">Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae elementum enim vitae ullamcorper suspendisse. Vivamus fringilla.</p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Leslie Alexander</h3>
                <p class="text-indigo-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>

          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Leslie Alexander</h3>
                <p class="text-indigo-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>

          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Leslie Alexander</h3>
                <p class="text-indigo-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>

          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>Leslie Alexander</h3>
                <p class="text-indigo-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>

          <!-- More people... -->
        </ul>
      </div>
    </div>
  </div>
</div>


<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white pt-16 lg:py-24">
  <div class="pb-16 bg-indigo-600 lg:pb-0 lg:z-10 lg:relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
      <div class="relative lg:-my-8">
        <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-white lg:hidden"></div>
        <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
          <div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
            <img class="object-cover lg:h-full lg:w-full" src="https://images.unsplash.com/photo-1520333789090-1afc82db536a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80" alt="">
          </div>
        </div>
      </div>
      <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
        <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
          <blockquote>
            <div>
              <svg class="h-12 w-12 text-white opacity-25" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
              </svg>
              <p class="mt-6 text-2xl font-medium text-white">Working at Whimsical have ben life changing for me. As serial founder taking a job brought a lot of worry on how the team would work togeather, how alignment would be and how we learn togeather. Whimsical have hit it out the ballpark on all areas.</p>
            </div>
            <footer class="mt-6">
              <p class="text-base font-medium text-white">Niklas Stephenson</p>
              <p class="text-base font-medium text-indigo-100">8 months and counting as VP Product</p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
